<h1>Edit Post</h1>
<form action="/posts/<%= @post.id %>" method="post">
  <input type="hidden" name="_method" value="put" /> 

  <label for="post_title">Title:</label><br />
  <input id="post_title" name="post[title]" type="text" value="<%= @post.title %>" />
  <br />

  <label for="post_body">Body:</label><br />
  <textarea id="post_body" name="post[body]" rows="5"><%= @post.body %></textarea>
  <br />

  <label for="post_type">Type:</label><br />
  <input id="post_article_type" name="post[article_type]" type="text" value="<%= @post.article_type %>" />
  <br />
  <input type="submit" value="Edit Post" />
</form> 
<div id="editor"> ><%= @post.body %> </div>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/solarized_dark");
    editor.getSession().setMode("ace/mode/markdown");
</script>
